@import "base/import";

h1 {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'EB Garamond', serif;
    /*font-family: 'Playfair Display', serif;*/
    font-size: 30px;
    font-weight: 800;
    font-style: italic; /*Inclinacion*/
    color: white;
    letter-spacing: 4px; /*Espacio entre letras*/
    line-height: 40px; /*Espacio entre líneas*/
    text-align: center;
    /* text-indent: 50px; Sangrado de la primera línea*/
    text-transform: uppercase; /*Mayúsculas o minúsculas*/
    word-spacing: 6px; /*Espacio entre palabras*/
    /* background-color: #96A618; */
    background-color: #00A1E4;
    padding-top: 10px;
    padding-bottom: 10px; ;
    border-bottom: 1px solid seagreen;

    /* background-image: url(images/logo.jpg);
    background-repeat:no-repeat;
    background-position:left center; */
}



h2 {
      font-family: 'EB_Garamond';
      font-family: 'Playfair Display', serif;
      font-size: 20px;
      font-weight: 800;
      font-style: italic; /*Inclinacion*/
      /* color: #607B00; */
      color: white;
      background-color: #2B4162;
      /* background-color: FF1D15; */
      letter-spacing: 4px; /*Espacio entre letras*/
      line-height: 40px; /*Espacio entre líneas*/
      text-align: left;
      text-indent: 20px; /*Sangrado de la primera línea*/
      text-transform: uppercase; /*Mayúsculas o minúsculas*/
      padding-top: 10px;
      padding-bottom: 10px;
}

.formatoParrafo {
    text-align: center;
    background-color: #D2E5DC;
    padding-bottom: 5px;
    margin-top: 60px;
}


.divFundacion {
    font-size: 20px;
    text-align: center;
    width: 1120px;
    height: 210px;
    background-color: white;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    border: 2px solid #9FB5D5 ;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 80px;
    /* margin: 0 auto; */
}

.divObjetivos {
    font-size: 20px;
    text-align: center;
    width: 1120px;
    height: 280px;
    background-color: white;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    border: 2px solid #9FB5D5 ;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 80px;
    /* margin: 0 auto; */
}

.divQuienes {
    font-size: 20px;
    text-align: center;
    width: 1120px;
    height: 600px;
    background-color: white;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    border: 2px solid #9FB5D5 ;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 80px;
    /* margin: 0 auto; */
}

.divAutoridades {
    font-size: 20px;
    text-align: center;
    width: 1120px;
    height: 400px;
    background-color: white;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    border: 2px solid #9FB5D5 ;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 80px;
    /* margin: 0 auto; */
}

.divContactoCon {
    font-size: 20px;
    text-align: center;
    width: 1120px;
    height: 200px;
    background-color: white;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    border: 2px solid #9FB5D5 ;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 80px;
    /* margin: 0 auto; */
}

.divParrafo {
    font-size: 20px;
    text-align: center;
    width: 1120px;
    height: 120px;
    background-color: white;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 30px;
    border: 2px solid #9FB5D5 ;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 80px;
    /* margin: 0 auto; */
}

.formatoFooter {
    background-color: nth($colores, 2);
}

.color_navbar {
    color: nth($colores,7);
}

.division {
    margin-top: 60px;
    margin-bottom: 60px;
}
